.announcements {
  grid-column: 1/-1;
  display: grid;
  justify-content: center;
  align-content: center;
  text-align: center;
}

.btn-primary{
    width: fit-content;
    background-color: $lavender;
    border-color: $lavender;
}

.btn-primary:hover{
    box-shadow: 0 8px 25px -8px $lavender; 
}